
/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: rgb(54, 83, 175);
  margin: 20px 0;
  display: inline-block;
  border-radius: 60%;
}
.link_404:hover {
  background-color: rgb(100, 117, 2);
}

.contant_box_404 {
  margin-top: -50px;
}


.ant-layout .ant-layout-sider-trigger {
  background: inherit;
}
.outlet {
  overflow: auto;
  padding: 2px;
  min-height: 100vh;
  max-height: 100vh;
  background: whitesmoke;
  /* border-right: 10px solid #5651ab; */
  border-top-left-radius: 6px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.ant-layout-footer {
  height: 5px !important;
}

.ant-layout-sider .ant-menu-item-selected {
  background-color: #fff;
  width: 100%;
  color: rgb(49, 51, 52);
}

div::-webkit-scrollbar {
  width: 8px;
}

div::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

div::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.form-icon {
  position: absolute;
  line-height: 50px;
  width: 50px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 0 0 3px 3px #dddddd, 4px 4px 6px 2px rgba(136, 136, 136, 0.7),
    -4px -4px 6px 2px rgba(244, 244, 244, 0.7);
}
.form_icon {
  border-radius: 20px;
  box-shadow: 0 0 3px 3px #dc2222, 4px 4px 6px 2px rgba(136, 136, 136, 0.7),
    -4px -4px 6px 2px rgba(199, 8, 142, 0.7);
}
.form-icon img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.image-div h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

